<p>Welcome <%= @email %>!</p>

<p>"Thanks for signing up for Hipster Nation.  Please click the link below to confirm your email and get started!"</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @token) %></p>
